<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the assessments_init() hook (in hooks/assessments.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="assessments-assessmentName-<%%VALUE(assessmentId)%%>" class="assessments-assessmentName"><%%SELECT%%><%%VALUE(assessmentName)%%><%%ENDSELECT%%></td>
		<td id="assessments-instituteNumber-<%%VALUE(assessmentId)%%>" class="assessments-instituteNumber"><%%SELECT%%><%%VALUE(instituteNumber)%%><%%ENDSELECT%%></td>
		<td id="assessments-courseId-<%%VALUE(assessmentId)%%>" class="assessments-courseId"><%%SELECT%%><%%VALUE(courseId)%%><%%ENDSELECT%%></td>
