<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the students_init() hook (in hooks/students.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="students-instituteNumber-<%%VALUE(id)%%>" class="students-instituteNumber text-right"><%%VALUE(instituteNumber)%%></td>
		<td id="students-username-<%%VALUE(id)%%>" class="students-username"><%%VALUE(username)%%></td>
		<td id="students-password-<%%VALUE(id)%%>" class="students-password"><%%VALUE(password)%%></td>
		<td id="students-firstname-<%%VALUE(id)%%>" class="students-firstname"><%%VALUE(firstname)%%></td>
		<td id="students-middlename-<%%VALUE(id)%%>" class="students-middlename"><%%VALUE(middlename)%%></td>
		<td id="students-lastname-<%%VALUE(id)%%>" class="students-lastname"><%%VALUE(lastname)%%></td>
		<td id="students-gender-<%%VALUE(id)%%>" class="students-gender"><%%VALUE(gender)%%></td>
		<td id="students-email-<%%VALUE(id)%%>" class="students-email"><%%VALUE(email)%%></td>
		<td id="students-phone-<%%VALUE(id)%%>" class="students-phone text-right"><%%VALUE(phone)%%></td>
		<td id="students-dob-<%%VALUE(id)%%>" class="students-dob"><%%VALUE(dob)%%></td>
		<td id="students-signupDate-<%%VALUE(id)%%>" class="students-signupDate"><%%VALUE(signupDate)%%></td>
		<td id="students-city-<%%VALUE(id)%%>" class="students-city"><%%VALUE(city)%%></td>
		<td id="students-state-<%%VALUE(id)%%>" class="students-state"><%%VALUE(state)%%></td>
